/* ----- Fonts ----- */
body, p {
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif !important;
}

/* ----- Animation ----- */
.animate {
	-webkit-animation:animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
	-moz-animation:animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
	animation:animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
	-webkit-animation-fill-mode:backwards;
	-moz-animation-fill-mode:backwards;
	animation-fill-mode:backwards;
}
@-webkit-keyframes animate {
	0% {opacity: 0;-webkit-transform: translateY(80px);}
	100% {opacity: 1;-webkit-transform: translateY(0%);}	
}

@keyframes animate {
	0% {opacity: 0;transform: translateY(80px);}
	100% {opacity: 1;transform: translateY(0%);}	
}

.delaytitle { -webkit-animation-delay: .4s; animation-delay: .4s;}
.delaycontent { -webkit-animation-delay: .8s; animation-delay: .8s;}

a:hover {
    text-decoration: none;
    color: black;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) and (max-width: 479px) {
    .profile-container {
        margin: 0rem;
    }
    
    .content-container {
        margin: 3rem;
    }
    
    #profile-name {
        font-weight: 800;
        font-size: 1.5rem;
        margin-bottom: 8rem;
    }
    
    #profile-title {
        font-weight: bold;
        font-size: 3rem;
        padding: 0 0;
    }

    #profile-picture {
        max-width: 80%;
    }
    
    .intro {
        font-weight: 300;
        line-height: 3.2rem;
    }

    #intro-title {
        font-weight: bold;
        font-size: 2.3rem;
        padding: 2rem 0;
    }

    .intro-content {
        font-size: 2rem;
        line-height: 3rem;
    }

    .resume-link {
        color: black;
        text-decoration: underline;
        font-size: 1.3rem;
    }
        
    .contact-link {
        color: black;
        font-size: 1.3rem;
        display: block;
    }

    .skill-item {
        display: flex;
    }

    .skill-icon {
        font-size: 3rem;
    }

    .skill-title {
        padding: 0 1rem;
        font-weight: 600;
        font-size: 1.8rem;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) and (max-width: 767px) {
    .profile-container {
        margin: 0rem;
    }

    .content-container {
        margin: 4rem;
    }
    
    #profile-name {
        font-weight: 800;
        font-size: 1.5rem;
        margin-bottom: 8rem;
    }
    
    #profile-title {
        font-weight: bold;
        font-size: 3rem;
        padding: 0 0;
    }

    #profile-picture {
        max-width: 80%;
    }

    .intro {
        font-weight: 300;
        line-height: 3.2rem;
    }

    #intro-title {
        font-weight: bold;
        font-size: 2.3rem;
        padding: 2rem 0;
    }

    .intro-content {
        font-size: 2rem;
        line-height: 3rem;
    }

    .resume-link {
        color: black;
        text-decoration: underline;
        font-size: 1.3rem;
    }
        
    .contact-link {
        color: black;
        font-size: 1.3rem;
        display: block;
    }

    .skill-item {
        display: flex;
    }

    .skill-icon {
        font-size: 3rem;
    }

    .skill-title {
        padding: 0 1rem;
        font-weight: 600;
        font-size: 1.8rem;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 991px) {
    .profile-container {
        margin: 0rem;
    }

    .content-container {
        margin: 5rem 8rem;
    }
    
    #profile-name {
        font-weight: 800;
        font-size: 2rem;
        padding-top: 3rem;
        margin-bottom: 8rem;
    }
    
    #profile-title {
        font-weight: bold;
        font-size: 3rem;
        padding: 0 0;
    }

    #profile-picture {
        max-width: 80%;
    }

    .intro {
        font-weight: 300;
        line-height: 3.2rem;
    }

    #intro-title {
        font-weight: bold;
        font-size: 2.3rem;
        padding: 2rem 0;
    }

    .intro-content {
        font-size: 2rem;
        line-height: 3rem;
    }

    .resume-link {
        color: black;
        text-decoration: underline;
        font-size: 1.3rem;
    }
        
    .contact-link {
        color: black;
        font-size: 1.3rem;
        display: block;
    }

    .skill-item {
        display: flex;
    }

    .skill-icon {
        font-size: 3rem;
    }

    .skill-title {
        padding: 0 1rem;
        font-weight: 600;
        font-size: 1.8rem;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width: 1199px) {
    .profile-container {
        margin: 3rem;
    }

    .content-container {
        margin: 5rem 8rem;
    }
    
    #profile-name {
        font-weight: 800;
        font-size: 1.5rem;
        margin-bottom: 8rem;
    }
    
    #profile-title {
        font-weight: bold;
        font-size: 3.8rem;
        padding: 0;
    }

    #profile-picture {
        max-width: 60%;
    }

    .intro {
        font-weight: 300;
        line-height: 3.2rem;
    }

    #intro-title {
        font-weight: bold;
        font-size: 2.3rem;
        padding: 2rem 0;
    }

    .intro-content {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .resume-link {
        color: black;
        text-decoration: underline;
        font-size: 1.3rem;
    }
    
    .contact-link {
        color: black;
        font-size: 1.3rem;
        display: block;
    }

    .skill-item {
        display: flex;
    }

    .skill-icon {
        font-size: 3rem;
    }

    .skill-title {
        padding: 0 1rem;
        font-weight: 600;
        font-size: 1rem;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .profile-container {
        margin: 3rem;
    }
    
    .content-container {
        margin: 5rem 8rem;
    }
    
    #profile-name {
        font-weight: 800;
        font-size: 1.5rem;
        margin-bottom: 8rem;
    }
    
    #profile-title {
        font-weight: bold;
        font-size: 3.8rem;
        padding: 0;
    }

    #profile-picture {
        max-width: 60%;
    }

    .intro {
        font-weight: 300;
        line-height: 3.2rem;
    }

    #intro-title {
        font-weight: bold;
        font-size: 2.3rem;
        padding: 2rem 0;
    }

    .intro-content {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .resume-link {
        color: black;
        text-decoration: underline;
        font-size: 1.3rem;
    }
    
    .contact-link {
        color: black;
        font-size: 1.3rem;
        display: block;
    }

    .skill-item {
        display: flex;
    }

    .skill-icon {
        font-size: 3rem;
    }

    .skill-title {
        padding: 0 1rem;
        font-weight: 600;
        font-size: 1rem;
    }
}